.navbartext{
    color: white;
}

caption{
    caption-side: top;
}

.backgrnd{
    background-color: lightgrey;
}

.paddingpanel{
    padding: 15px;
}

.menu{
    margin-top: 30px;
}

.form{
    align-content: center;
}