<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <table class="table" th:fragment="form">
        <caption class="bg-light text-dark paddingpanel"><h3>Add new user</h3></caption>
        <tbody>
            <tr>
                <td style="text-align:center">
                    <form th:if="${userEdit != null}" method="post" action="/admin/edit">
                        <input th:if="${userEdit != null}" type="hidden" name="id" th:value="${userEdit.id}"/>
                        <p><b>First name</b><br>
                            <input required type="text" name="first_name" th:value="${userEdit.firstName}"/>
                        <p><b>Last name</b><br>
                            <input required type="text" name="last_name" th:value="${userEdit.lastName}">
                        <p><b>Age</b><br>
                            <input required type="number" name="age" th:value="${userEdit.age}">
                        <p><b>Email</b><br>
                            <input required type="text" name="email" th:value="${userEdit.email}">
                        <p><b>Password</b><br>
                            <input required type="text" name="password" th:value="${userEdit.password}">
                        <p><b>Role</b><br>
                        <p th:if="${isAdminEdit == true}"><input type="checkbox" value="ADMIN" name="ADMIN" checked/>ADMIN</p>
                        <p th:if="${isAdminEdit == false}"><input type="checkbox" value="ADMIN" name="ADMIN"/>ADMIN</p>
                        <p th:if="${userEdit != null}"><input type="checkbox" value="USER" name="USER" checked/>USER</p>
                        <input th:if="${userEdit == null}" type="submit" value="Add new user"/>
                        <input th:if="${userEdit != null}" type="submit" value="Edit user"/>
                    </form>
                    <form th:if="${userEdit == null}" method="post" action="/admin/new">
                        <div class="form-group">
                            <label for="first_name">First name</label>
                            <input required type="text" name="first_name" id="first_name" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last name</label>
                            <input required type="text" name="last_name" id="last_name" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input required type="number" id="age" name="age" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input required type="email" id="email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input required type="pasword" id="password" name="password" class="form-control">
                        </div>
                        <p>Role</p><br>
                        <div class="form-group form-check">
                            <input type="checkbox" value="ADMIN" name="ADMIN" class="form-check-input" id="admin-new-user">
                            <label class="form-check-label" for="admin-new-user">Admin</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" value="USER" name="USER" class="form-check-input" id="user-new-user">
                            <label class="form-check-label" for="user-new-user">User</label>
                        </div>
                        <button class="btn btn-primary" th:if="${userEdit == null}" type="submit" value="Add new user">Add new user</button>
                        <button class="btn btn-primary" th:if="${userEdit != null}" type="submit" value="Edit user">Edit user</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>