<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{header :: nav}"></div>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-column nav-pills nav-fill menu" th:fragment="menu">
                    <li class="nav-item" th:if="${isAdmin == true}">
                        <a class="nav-link side-menu" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active side-menu" href="/user">User</a>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <h1>User information-page</h1>
                <table class="table table-striped">
                    <caption class="bg-light text-dark paddingpanel"><h3>About user</h3></caption>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="${user.id}" /></td>
                            <td th:text="${user.firstName}" /></td>
                            <td th:text="${user.lastName}" /></td>
                            <td th:text="${user.age}" /></td>
                            <td th:text="${user.email}" /></td>
                            <td>
                                <a th:each="role : ${user.roles}">
                                    <a th:text="${role.toString()}">
                                    </a>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>